{% extends 'ProductBundle::base.html.twig' %}
{% block title %}Products{% endblock %}
{% block body %}
<div id="header">
    <h3>ADD NEW PRODUCT</h3>
</div>
<div id="form_content">
    <div id="error_message">
        {{ form_errors(form) }}  
    </div>
    {{ form_start(form) }}
     {{ form_row(form.name) }}
     {{ form_row(form.sku) }}
    {{ form_end(form) }}
</div>
{% endblock %}

